# Virtual environment
venv/
*.pyc
__pycache__/

# Local development settings
*.sqlite3
*.pyc

# Media files
media/

# Static files
staticfiles/

# Secret key
*.secret_key

# Environment variables
.env

# IDE files
.vscode/
*.idea/

# Dependency directories
node_modules/

config/vertexscape-firebase-adminsdk-5niic-13b7c7c631.json
