{% extends "predeterminados/base.html"%}
{% load static %}
{% block titulo%} Index {%endblock%}
{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stylestable.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesperfil.css' %}">
{% endblock %}
{% block contenido%}
<main class="main-container">
    <h1>Hola {{ usuario.username }}</h1>
    <div class="row-a">
        <div class="column">
            <p>Nombre: {{ usuario.first_name }} {{ usuario.last_name }}</p>
            <p>Correo electrónico: {{ usuario.email }}</p>
            <p>Cedula: {{ usuario.cedula }}</p>
        </div>

        <div class="column">
            <p>Celular: {{ usuario.celular }}</p>
            <p>Telefono: {{ usuario.telefono_hogar }}</p>
        </div>
    </div>
    <div class="buttons-container">
        <button class="button-arounder" onclick="window.location.href = '{% url 'crear_proyecto' %}'">Nuevo proyecto</button>
        <button class="button-arounder" onclick="window.location.href = '{% url 'editar_perfil' %}'">Editar</button>
    </div>
    <div class="row-b">
        <div class="container-table">
            <table>
                <thead>
                    <tr>
                        <th>Diseñador</th>
                        <th>Correo</th>
                        <th>Cliente</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos %}
                    <tr>
                        <td>{{ proyecto.diseñador }}</td>
                        <td>{{ proyecto.cliente }}</td>
                        <td>{{ proyecto.cliente.first_name }} {{ proyecto.cliente.last_name }}</td>
                        <td><a href="{% url 'actualizar_proyecto' proyecto.pk %}">{{ proyecto.nombre }}</a></td>
                        <td><a href="{% url 'eliminar_proyecto' proyecto.pk %}" onclick="return confirmarEliminacion();">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<script>
    function confirmarEliminacion() {
        if (confirm("¿Estás seguro de que deseas eliminar este proyecto?")) {
            return true;
        }
        return false;
    }
</script>
{%endblock%}